*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #454545;
    color: white;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
#three{
    color: rgb(224, 224, 10);
}
#one{
    color: rgb(182, 34, 63);
}
#two{
    color:rgb(23, 90, 171);
}
.left-panel,.right-panel{
    flex-basis: 50%;
    padding: 10px;
}
label i{
    margin-right: 10px;
    margin-left: 10px;
}
label{
    display: flex;
    align-items: center;
    /* background: rgb(128, 128, 128); */
    background: #45454584;
    height: 30px;
    padding-left: 10px;
    margin-top: 5px;
}
textarea{
    width: 100%;
    height: 28%;
    background:#1f1f1fe1;
    color: #fff;
    margin-top: 1px;
    padding: 10px 20px;
    border:0;
    outline: 0;
    font-size: 18px;
    /* box-shadow:0px 0px 10px rgb(55, 151, 189); */

}
textarea:hover{
    animation: blink 2s ease infinite;
    transition:1s ease-in-out;
}
@keyframes blink {
    0%{
        box-shadow:0px 0px 10px white;
    }
    50%{
        box-shadow:0px 0px 0px white;
    }
    100%{
        box-shadow:0px 0px 10px white;
    }
}
iframe{
    width: 100%;
    height: 95%;
    background: #ffffffea;
    border:0;
    outline: 0;
}
.back{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
}